.video__item-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-left: 30px;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .video__item-title {
        margin-left: 24px;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 26px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .video__item-title {
        margin-top: 8px;
        margin-left: 24px;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 26px;
    }
}

@media (max-width: 374px) {
    .video__item-title {
        margin-top: 8px;
        margin-bottom: 0;
        margin-left: 16px;
        font-size: 24px;
        line-height: 26px;
    }
}