.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .footer__copyright {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .footer__copyright {
        margin-top: 48px;
    }
}