.lead__caption {
    margin-top: 10.87px;
    max-width: 636px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}

