.place__image {
    max-width: 460px;
    object-fit: contain;
}

@media (max-width: 767px) {
    .place__image {
        max-width: 100%;
        margin: 32px 0 24px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__image {
        width: 100%;
    }
}